<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vincentwang.user">

    <application
        android:name=".UserApplication"
        tools:replace="android:name">

        <activity android:name=".UserMainActivity">
        </activity>
    </application>

</manifest>